@model Pbl.Models.ViewModel.GerenciarMedViewModel
@{
    ViewBag.Title = "AdicionarTurmas";
    Layout = "~/Views/Shared/_LayoutDiretor.cshtml";
}
<h2>@Model.med.idMed</h2>

@using (Html.BeginForm("AdicionarTurma", "ControleMed"))
{
    <table class="table">
        <tr>
            <th>Turmas</th>
            <th></th>
        </tr>
        @foreach (var turma in Model.turmasCadastradas)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => turma.descTurma)</td>
                <td>@Html.ActionLink("Alterar","Update", new { id = turma.idTurma})</td>
                <td>@Html.ActionLink("Deletar", "Delete", new { id = turma.idTurma })</td>
            </tr>
        }
    </table>
    @Html.ValidationSummary(true, "Algo deu errado")
    @Html.TextBox("idMed",Model.med.idMed,new { @class = "form-control", @type = "hidden" })
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Nova Turma</button>
}
<br>
@using (Html.BeginForm("VincularProblemas", "ControleMed"))
{
    <table class="table">
        <tr>
            <th>Problemas</th>
            <th></th>
        </tr>
        @foreach (var problema in Model.problemasCadastrados)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => problema.tituloProblema)</td>
                <td>@Html.ActionLink("Alterar", "Update", new { id = problema.idProblema })</td>
                <td>@Html.ActionLink("Deletar", "Delete", new { id = problema.idProblema })</td>
            </tr>
        }
    </table>
    @Html.ValidationSummary(true, "Algo deu errado")
    @Html.TextBox("idMed", Model.med.idMed, new { @class = "form-control", @type = "hidden" })
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Vincular Problema</button>
}


