@model IEnumerable<Pbl.Models.Grupo>

@{
    ViewBag.Title = "Index";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><img src="~/Content/img/home.png" class="home" />Home</a><a href="@Url.Action("Index","GerenciarProblemasMinistados")" title="Vá para Gerencias Grupos" class="tip-bottom"><i class="fa fa-users"></i> Problemas</a></div>
</div>
<h2>Index <a href="@Url.Action("GerenciarProblemasMinistados", "Create")"><i class="fa fa-plus-square-o"></i></a></h2>
<h2>Index @Html.ActionLink("Adicionar", "Create", null, new { @class = "classname" })</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Med.descMed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.nomeProfessor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Med.descMed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.nomeProfessor)
        </td>
        <td>
            @Html.ActionLink("Selecionar","SelecionarProblema", "GerenciarProblemasMinistados", new { idGrupo = item.idGrupo}, new {@class = "alter" })
        </td>
    </tr>
}

</table>
