@model Pbl.Models.InscricaoTurma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InscricaoTurma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aluno.nomeAluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.nomeAluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turma.descTurma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turma.descTurma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idInscricaoTurma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
