@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $mensagem = "@ViewBag.Message";
    if ($mensagem) {
        alert($mensagem);
    }
</script>
<div id="content-header">
    <div id="breadcrumb"> <a href="@Url.Action("Index","Home")" title="Vá para Home" class="tip-bottom"><img src="~/Content/img/home.png" class="home" />Home</a><a href="@Url.Action("Index","ControleAlunos")" title="Vá para Controle Alunos" class="tip-bottom"><img src="~/Content/img/client.png" class="home" />Alunos</a></div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">
                <form action="" method="post" class="form-styles">
                        <h1>Novo Aluno</h1>
                        <ul>
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nome</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="nomeAluno" placeholder="Nome" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!--<input name="nomeAluno" type="text" placeholder="Nome" />
                                <span>Informe seu nome</span>-->
                            </li>
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">CPF</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="cpfAluno" placeholder="CPF" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                 <!--<input name="cpfAluno" type="text" placeholder="CPF" />
                                <span>Informe seu CPF</span>-->
                            </li>
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Matricula</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input name="matriculaAluno" placeholder="Matricula" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                              <!--  <input name="matriculaAluno" type="text" placeholder="Matricula" />
                                <span>Informe sua Matricula</span>-->
                            </li>
                                @Html.AntiForgeryToken()
                            <li>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <button type="submit" value="Cadastrar" class="btn btn-warning">Cadastrar <span class="glyphicon glyphicon-send"></span></button>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </form>
                   @* <form action="" method="post" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Nome :</label>
                            <div class="controls">
                                <input name="nomeAluno" type="text" class="span11" placeholder="Nome" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">CPF :</label>
                            <div class="controls">
                                <input name="cpfAluno" type="text" class="span11" placeholder="CPF" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Matricula :</label>
                            <div class="controls">
                                <input name="matriculaAluno" type="text" class="span11" placeholder="Nome" />
                            </div>
                        </div>
                        @Html.AntiForgeryToken()
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>*@
            </div>
        </div>
    </div>
</div>